@charset "utf-8";
/* CSS Document */

.art   {color: #7cc4cb;} 		/*สีตัวอักษร ฟ้า*/
.bg{ background: #faf1f0;} 		/*สีพื้นหลัง เนื้อ*/
.bgsu{ background: #007a6d;} 	/*สีพื้นหลัง มหาวิทยาลัย*/


/* ขนาดตัวอักษรเนวิเกชั่นบาร์ */
.nav1{
	font-size: 1.3rem;
	color: white;
}

/* หัวเรื่อง 1 */
h1 {
	font-size:2.91em;
	margin:0;
	color: #7cc4cb;
	}


/*Header ตกแต่งสไลด์ที่ 1 คือหน้า welcome*/

.welcome {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
	background: #faf1f0;
  /*background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../assets/img/bg-masthead.jpg");*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome h1, .welcome .h1 {
  font-size: 3.5rem;
	color: #7cc4cb;
  margin: 0;
  padding: 0;
}
.welcome h2, .welcome .h2 {
  font-size: 2.5rem;
	color: #7cc4cb;
  margin: 0;
  padding: 0;
}
.welcome h3, .welcome .h3 {
  font-size: 2rem;
	color: #7cc4cb;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .welcome {
    height: 80vh;
  }
  .welcome h1, .welcome .h1 {
    font-size: 5.5rem;
  }
	.welcome h2, .welcome .h2 {
    font-size: 3.5rem;
  }
	.welcome h3, .welcome .h3 {
    font-size: 2.5rem;
  }
}

/*-- Lifestyleintro ตกแต่งหัวข้อ------------------------------------*/

.intro {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
	background: #faf1f0;
  /*background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../assets/img/bg-masthead.jpg");*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*--XL-------------------*/
@media (min-width: 1200px) {
  .intro {
    height: 80vh;
  }
  .intro h1, .intro .h1 {
    font-size: 7.5rem;
  }
	.intro p {
	font-size: 1.5rem;
  font-family: 'Prompt', sans-serif;
}
/*--LG-------------------*/
}@media only screen and (min-width: 992px) and (max-width: 1199px){
  .intro {
    height: 80vh;
  }
  .intro h1, .intro .h1 {
    font-size: 7.5rem;
  }
	.intro p {
	font-size: 1.5rem;
  font-family: 'Prompt', sans-serif;
}
}
/*--MD-------------------*/
@media only screen and (min-width: 768px) and (max-width: 991px){
  .intro {
    height: 50vh;
  }
  .intro h1, .intro .h1 {
    font-size: 6rem;
  }
	.intro p {
	font-size: 2rem;
  font-family: 'Prompt', sans-serif;

}
}
/*--SM-------------------*/
@media only screen and (min-width: 576px) and (max-width: 767px){
  .intro {
    height: 50vh;
  }
  .intro h1, .intro .h1 {
    font-size: 4rem;
  }
	.intro p {
	font-size: 1.5rem;
  font-family: 'Prompt', sans-serif;
}
}
/*--XS-------------------*/
@media only screen and (max-width: 575px){
  .intro {
    height: 50vh;
  }
  .intro h1, .intro .h1 {
    font-size: 4rem;
  }
	.intro p {
	font-size: 1.2rem;
  font-family: 'Prompt', sans-serif;
}
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/
.QA {
  min-height: 10rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #faf1f0;
  /*background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../assets/img/bg-masthead.jpg");*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* หัวเรื่อง1 ภายในสไลด์ไลฟ์สไตล์ */
.QA h1 {
	font-size: 100px;
	color: #7cc4cb;
	
}
@media (min-width: 992px) {
  .QA {
    height: 20vh;
  }

  /*--XL-------------------*/
@media (min-width: 1200px) {
  .QA {
    height: 20vh;
  }
  .QA h1 {
    font-size: 100px;
    color: #7cc4cb;
  }
}
/*--LG-------------------*/
}@media only screen and (min-width: 992px) and (max-width: 1199px){
  .QA {
    height: 20vh;
  }
  .QA h1 {
    font-size: 100px;
    color: #7cc4cb;
  }
}
/*--MD-------------------*/
@media only screen and (min-width: 768px) and (max-width: 991px){
  .QA {
    height: 20vh;
  }
  .QA h1 {
    font-size: 100px;
    color: #7cc4cb;
  }
}
/*--SM-------------------*/
@media only screen and (min-width: 576px) and (max-width: 767px){
  .QA {
    height: 20vh;
  }
  .QA h1 {
    font-size: 80px;
    color: #7cc4cb;
  }
}
/*--XS-------------------*/
@media only screen and (max-width: 575px){
  .QA {
    height: 20vh;
  }
  .QA h1 {
    font-size: 80px;
    color: #7cc4cb;
  }
}

/*--slide ตกแต่งสไลด์QA------------------------------------------------------------------------------------------------------------------*/

.slideQA {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
	background: #faf1f0;
  /*background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../assets/img/bg-masthead.jpg");*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*--XL-------------------*/
@media (min-width: 1200px) {
  .slideQA {
    height: 100vh;
  }
  .slideQA h3, .slideQA .h3 {
    font-size: 2rem;
    color: #ff5e00;
    font-family: 'Prompt', sans-serif;
  }
  .slideQA h4, .slideQA .h4 {
    font-size: 2rem;
    color: #003cff;
    font-family: 'Prompt', sans-serif;
  }
}
/*--LG-------------------*/
}@media only screen and (min-width: 992px) and (max-width: 1199px){
  .slideQA {
    height: 100vh;
  }
  .slideQA h3, .slideQA .h3 {
    font-size: 2rem;
    color: #ff5e00;
    font-family: 'Prompt', sans-serif;
  }
  .slideQA h4, .slideQA .h4 {
    font-size: 2rem;
    color: #003cff;
    font-family: 'Prompt', sans-serif;
  }
}
/*--MD-------------------*/
@media only screen and (min-width: 768px) and (max-width: 991px){
  .slideQA {
    height: 100vh;
  }
  .slideQA h3, .slideQA .h3 {
    font-size: 2.5rem;
    color: #ff5e00;
    font-family: 'Prompt', sans-serif;
  }
  .slideQA h4, .slideQA .h4 {
    font-size: 2.5rem;
    color: #003cff;
    font-family: 'Prompt', sans-serif;
  }
}
/*--SM-------------------*/
@media only screen and (min-width: 576px) and (max-width: 767px){
  .slideQA {
    height: 100vh;
  }
  .slideQA h3, .slideQA .h3 {
    font-size: 1.5rem;
    color: #ff5e00;
    font-family: 'Prompt', sans-serif;
  }
  .slideQA h4, .slideQA .h4 {
    font-size: 1.5rem;
    color: #003cff;
    font-family: 'Prompt', sans-serif;
  }
}
/*--XS-------------------*/
@media only screen and (max-width: 575px){
  .slideQA {
    height: 100vh;
  }
  .slideQA h3, .slideQA .h3 {
    font-size: 1.5rem;
    color: #ff5e00;
    font-family: 'Prompt', sans-serif;
  }
  .slideQA h4, .slideQA .h4 {
    font-size: 1.5rem;
    color: #003cff;
    font-family: 'Prompt', sans-serif;
  }
}
/*--Scholarship----------------------------------------------------------------------------------------------------------*/
.intro2 {
  min-height: 20rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 10rem;
  padding-bottom: 4rem;
	background: #faf1f0;
  /*background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../assets/img/bg-masthead.jpg");*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*--XL-------------------*/
@media (min-width: 1200px) {
  .intro2 {
    height: 50vh;
  }
  .intro2 h1, .intro2 .h1 {
    font-size: 7.5rem;
  }
	.intro2 p {
	font-size: 1.5rem;
  font-family: 'Prompt', sans-serif;
}
/*--LG-------------------*/
}@media only screen and (min-width: 992px) and (max-width: 1199px){
  .intro2 {
    height: 50vh;
  }
  .intro2 h1, .intro2 .h1 {
    font-size: 7.5rem;
  }
	.intro2 p {
	font-size: 1.5rem;
  font-family: 'Prompt', sans-serif;
}
}
/*--MD-------------------*/
@media only screen and (min-width: 768px) and (max-width: 991px){
  .intro2 {
    height: 50h;
  }
  .intro2 h1, .intro2 .h1 {
    font-size: 8rem;
  }
	.intro2 p {
	font-size: 2rem;
  font-family: 'Prompt', sans-serif;

}
}
/*--SM-------------------*/
@media only screen and (min-width: 576px) and (max-width: 767px){
  .intro2 {
    height: 50vh;
  }
  .intro2 h1, .intro2 .h1 {
    font-size: 4rem;
  }
	.intro2 p {
	font-size: 1.5rem;
  font-family: 'Prompt', sans-serif;
}
}
/*--XS-------------------*/
@media only screen and (max-width: 575px){
  .intro2 {
    height: 50vh;
  }
  .intro2 h1, .intro2 .h1 {
    font-size: 4rem;
  }
	.intro2 p {
	font-size: 1.2rem;
  font-family: 'Prompt', sans-serif;
}
}

.slidescholar {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
	background: #faf1f0;
  /*background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../assets/img/bg-masthead.jpg");*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slidescholar h1, .slidescholar .h1 {
  font-size: 6rem;
	color: #000000
  margin: 0;
  padding: 0;
}
.slidescholar h2, .slidescholar .h2 {
  font-size: 5rem;
	color: #000000
  margin: 0;
  padding: 0;
}
.slidescholar h3, .slidescholar .h3 {
  font-size: 1.8rem;
	color: #000000
  margin: 0;
  padding: 0;
}
.slidescholar p {
	font-size: 2rem;
  color: #000000
  margin: 0;
  padding-top: 0rem;
}
@media (min-width: 992px) {
  .slidescholar {
    height: 100vh;
  }
  .slidescholar h1, .slidescholar .h1 {
    font-size: 6.5rem;
  }
	.slidescholar h2, .slidescholar .h2 {
    font-size: 5.5rem;
  }
	.slidescholar h3, .slidescholar .h3 {
    color: #000000
    font-size: 1.8rem;
  }
	.slidescholar p {
	font-size: 2rem;
  margin: 0;
  padding-top: 0rem;
}
}

/*-- ตกแต่งสไลด์อาชีพ---------------------------------------------------------------*/

.jobintro {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 10rem;
  padding-bottom: 4rem;
  background: #faf1f0;
  /*background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../assets/img/bg-masthead.jpg");*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* หัวเรื่อง1 ภายในสไลด์อาชีพ */
.jobintro h1 {
	font-size: 8rem;
	color: #7cc4cb;
  margin-top: -4rem;
  padding: 0;
	
}

/* พารากราฟ ภายในสไลด์อาชีพ */
.jobintro p {
	font-size: 1.8rem;
  margin: 0;
  padding: 0;
	
}

/* หัวเรื่อง1 ภายในสไลด์อาชีพ1 */
.slidejob1 {
  min-height: 25rem; 	/* ความสูงสไลด์ */
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 10rem; 	/* ระยะห่างขอบจากบน */
  padding-bottom: 4rem; /* ระยะห่างขอบจากล่าง */
  background: #faf1f0;	/* สีพื้นหลัง */
  /*background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* หัวเรื่อง1 ภายในสไลด์อาชีพ1 */

.slidejob1 h1, .slidejob .h1 {
  font-size: 3rem;
	/*color: #7cc4cb;*/
  margin: 0;
  padding: 0;
}
.slidejob1 h2, .slidejob .h2 {
  font-size: 1.8rem;
	/*color: #7cc4cb;*/
  margin: 0;
  padding: 0;
}

/* พารากราฟ ภายในสไลด์อาชีพ1 */
.slidejob1 p, .slidejob .p {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .slidejob1 {
    height: 100vh;
  }
  .slidejob1 h1, .slidejob1 .h1 {
    font-size: 3rem;
  }
	.slidejob1 h2, .slidejob1 .h2 {
    font-size: 1.8rem;
  }
	.slidejob1 h3, .slidejob1 .h3 {
    color: #000000
    font-size: 1.8rem;
  }
	.slidejob1 p {
	font-size: 2rem;
  margin: 0;
  padding-top: 0rem;
}
}


.intro3 {
  min-height: 20rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
	background: #faf1f0;
  /*background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../assets/img/bg-masthead.jpg");*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*--XL-------------------*/
@media (min-width: 1200px) {
  .intro2 {
    height: 50vh;
  }
  .intro3 h1, .intro3 .h1 {
    font-size: 4rem;
    color: #7cc4cb;
  }
  .intro3 h2, .intro3 .h2 {
    font-size: 3rem;
    color: #000000;
    font-family: 'Prompt', sans-serif;
  }
}
/*--LG-------------------*/
}@media only screen and (min-width: 992px) and (max-width: 1199px){
  .intro2 {
    height: 50vh;
  }
  .intro3 h1, .intro3 .h1 {
    font-size: 4rem;
    color: #7cc4cb;
  }
  .intro3 h2, .intro3 .h2 {
    font-size: 3rem;
    color: #000000;
    font-family: 'Prompt', sans-serif;
  }
}
/*--MD-------------------*/
@media only screen and (min-width: 768px) and (max-width: 991px){
  .intro2 {
    height: 50h;
  }
  .intro3 h1, .intro3 .h1 {
    font-size: 3rem;
    color: #7cc4cb;
  }
  .intro3 h2, .intro3 .h2 {
    font-size: 1.5rem;
    color: #000000;
    font-family: 'Prompt', sans-serif;
  }
}
/*--SM-------------------*/
@media only screen and (min-width: 576px) and (max-width: 767px){
  .intro2 {
    height: 50vh;
  }
  .intro3 h1, .intro3 .h1 {
    font-size: 3rem;
    color: #7cc4cb;
  }
  .intro3 h2, .intro3 .h2 {
    font-size: 1.5rem;
    color: #000000;
    font-family: 'Prompt', sans-serif;
  }
}
/*--XS-------------------*/
@media only screen and (max-width: 575px){
  .intro2 {
    height: 50vh;
  }
  .intro3 h1, .intro3 .h1 {
    font-size: 3rem;
    color: #7cc4cb;
  }
  .intro3 h2, .intro3 .h2 {
    font-size: 1.5rem;
    color: #000000;
    font-family: 'Prompt', sans-serif;
  }
}

/*bg's timeline*/
.bg-timeline{
background: #7cc4cb; 
}

.welcome h1 .mb-1{
line-height : 1.3350px; 

}

#imgoc {
  border-radius: 100%;
  border-style: solid;
  border-color: black;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*ไทม์ไลน์ของรายวิชา*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
.year-section {
  margin: 50px auto;
  color: #b4f8d7;
  font-size: 1.8em;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}
.year-section a {
  font-weight: 700;
  color: #eee;
}
.year-section .year {
  color: #0d864b;
  font-weight: 400;
  font-family: "Circular";
  font-size: 50px;
}
.year-section .big {
  font-family:'Prompt', sans-serif;
  font-size: 25px;
  color: #eee;
  font-weight: 100;
  margin-bottom: .5em;
}
.year-section .aside {
  font-size: smaller;
  border-left: 2px solid #0d864b;
  padding-left: 10px;
  padding-bottom: 20px;
  font-weight: 300;
}
.year-section ul {
  list-style: circle;
}

a{
	text-decoration-style: dotted;
	text-decoration-color: #faf1f0;
}
.fac{
	line-height: 53px;
}

/*ตรงรูปภาพที่มันซูมเด่นขึ้นมา */
.zoom {
  padding: 50px;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

/* ปุ่มฟอร์ม */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
/*คลุมดำตัวอักษรแล้วเปลี่ยนสี*/
::-moz-selection { 
  color: #f7a62e;
  background: #7cc4cb ;
}

::selection {
  color: #f7a62e;
  background: #7cc4cb;
}
/*ตัวอักษรตรงอาชีพ*/
#form p{
	font-size: 24px;
	font-family: 'Prompt', sans-serif;
}
#form h1{
	font-size: 64px;
	font-family: "Circular";
}