.container
  .row.year-section
    .col-xs-12.col-md-2
      .pull-right.year 2014
    .col-xs-12.col-md-6.col-lg-7
      .big Here's where the main thing I did goes. It's very important, so it's big.
    .col-xs-12.col-md-4.col-lg-3
      .aside Some additional context or things I did. It is small because it is less important
  .row.year-section
    .col-xs-12.col-md-2
      .pull-right.year 2013
    .col-xs-12.col-md-6.col-lg-7
      .big More big things
        ul
          li Sometimes lists
          li are important too
          li Lists with <a>Links</a>.
    .col-xs-12.col-md-4.col-lg-3
      .aside Some additional context or things I did. It is small because it is less important
  .row.year-section
    .col-xs-12.col-md-2
      .pull-right.year 2012
    .col-xs-12.col-md-6.col-lg-7
      .big Here's where the main thing I did goes. It's very important, so it's big.
    .col-xs-12.col-md-4.col-lg-3
      .aside Some additional context or things I did. It is small because it is less important
        ul
          li Lists can be fun over here too.
          li ESPECIALLY IF THEY HAVE <a>LINKS</a>.
  .row.year-section
    .col-xs-12.col-md-2
      .pull-right.year 2011
    .col-xs-12.col-md-6.col-lg-7
      .big Here's where the main thing I did goes. It's very important, so it's big.
    .col-xs-12.col-md-4.col-lg-3
      .aside Some additional context or things I did. It is small because it is less important
  .row.year-section
    .col-xs-12.col-md-2
      .pull-right.year 2010
    .col-xs-12.col-md-6.col-lg-7
      .big Here's where the main thing I did goes. It's very important, so it's big.
    .col-xs-12.col-md-4.col-lg-3
      .aside Some additional context or things I did. It is small because it is less important